/.idea/
.DS_Store
/cache/*
!/cache/index.html
/administrator/cache/*
/administrator/logs/*
/administrator/logs/index.html
/images/cache/*
!/administrator/cache/index.html
/administrator/components/com_akeeba/backup/*
/tmp/*
!/tmp/index.html
/configuration.php
/configuration_bak.php
/demo/*
.htaccess
/administrator/.htaccess
/administrator/.htpasswd.mittwald
htaccess.txt
.myjoomla.configuration.php.md5
/templates/yovoco/node_modules
/templates/yovoco/bower_components